body {
  font-family: monospace;
  text-align: center;
  background: #171717;
  color: #eee;
}

#game-view {
  border: 3px solid #300;
  cursor: none;
  margin-top: 20px;
}

.keybind {
  color: #e75;
  padding: 3px;
  font-weight: bold;
}
