body {
  font-family: monospace;
  text-align: center;
}

#game-view {
  border: 2px solid #ddd;
  cursor: none;
}

.keybind {
  border: 2px dashed #666;
  border-radius: 10px;
  color: #696;
  padding: 3px;
}
